@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Permanent Marker", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: max(5vh, 40px);
}

h1 {
  font-size: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 2vh;
  text-align: center;
}
h1 span {
  color: #e65e5e;
}

section.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: max(5vh, 50px);
}
section.menu div.main {
  width: max(70%, 900px);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  grid-template-rows: 1fr;
  align-items: center;
  gap: max(5vw, 50px);
}
section.menu div.sub {
  width: 100%;
  text-align: center;
}
section.menu div.sub > button {
  background-color: transparent;
  border: none;
  color: rgb(33, 33, 33);
  transition-duration: 200ms;
  font-size: 3rem;
  margin-bottom: 2vh;
}
section.menu div.sub > button:hover {
  cursor: pointer;
  color: #e65e5e;
}
section.menu div.card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 5px rgba(77, 76, 76, 0.509);
  border-radius: 10px;
  background-color: white;
  padding: max(1.5vw, 15px);
  display: flex;
  flex-flow: column;
  gap: max(2vh, 20px);
}
section.menu div.card > div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: max(2vw, 20px);
}
section.menu div.card .name input {
  font-size: 5rem;
}
section.menu input:focus {
  outline: none;
}
section.menu div.card > div input {
  width: 100%;
  padding: max(0.3vh, 3px) max(0.3vw, 5px);
  font-weight: 1000;
  text-align: center;
  font-size: 2rem;
  border: none;
}
section.menu div.card > div button {
  font-weight: 700;
  height: -moz-fit-content;
  height: fit-content;
  padding: max(0.3vh, 3px) max(0.3vw, 5px);
  color: rgb(33, 33, 33);
  border-radius: 5px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 100ms;
}
section.menu div.card > div button:hover {
  cursor: pointer;
  color: #e65e5e;
  scale: 1.2;
}
section.menu div.card input {
  border-radius: 5px;
  border-color: rgb(33, 33, 33);
}
section.menu div.card img {
  width: 150px;
}
section.menu div.card .flipped {
  transform: scaleX(-1);
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
section.menu div.vs {
  font-size: 5rem;
}

section.game div.gameboard {
  width: min(90vw, 500px);
  height: min(90vw, 500px);
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  gap: min(1vw, 10px);
  /* Apply the animation to the text */
}
section.game div.gameboard button.cell {
  background-color: white;
  border: none;
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: rgb(74, 74, 74);
}
section.game div.gameboard button.cell:hover {
  cursor: pointer;
}
section.game div.gameboard button.winning-cell {
  color: #e65e5e;
}
section.game div.gameboard button.cell span {
  font-family: "Permanent Marker", cursive;
}
@keyframes marker-appear {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
section.game div.gameboard .marker-appear {
  display: block;
  animation: marker-appear 0.2s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
section.fade {
  animation: fadeOut 1s ease-in-out;
  animation-iteration-count: 1;
}

section.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  section.menu div.card .name input {
    font-size: 3rem;
  }
  section.menu div.main {
    width: 100%;
    grid-template-columns: 1fr;
  }
  section.menu div.main div.card {
    width: max(40%, 300px);
  }
  section.menu div.vs {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  section.menu div.main div.card .name input {
    font-size: 2rem;
  }
  section.menu div.main div.vs {
    font-size: 2rem;
  }
  section.menu div.sub button {
    font-size: 3rem;
  }
}/*# sourceMappingURL=index.css.map */