@import "./variables"; 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Permanent+Marker&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Permanent Marker", cursive;
    color: rgb(43, 42, 42);
    // font-family: "Inter", sans-serif;
    // font-family: "Press Start 2P", system-ui;

    // cursor: url("https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png"), auto;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background-color: $black;
    background-color: whitesmoke;
    min-height: 100vh;

    display: flex;
    flex-flow: column;
    gap: max(5vh, 40px);
}

.flipped{
    transform: scaleX(-1);
}

section.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: max(5vh, 50px);

    h1{
        font-size: 3rem;
        user-select: none;
        margin-top: 2vh;
        text-align: center;
    
        span{
            color: $positive-clr;
        }
    }

    div.main{
        width: max(80%, 900px);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-items: center;
        grid-template-rows: 1fr;
        align-items: center;
        gap: max(5vw, 50px);
    }

    div.sub{
        width: 100%;
        text-align: center;
    }

    div.sub > button{
        background-color: transparent;
        border: none;
        color: $black;
        transition-duration: 200ms;
        font-size: 3rem;
        margin-bottom: 2vh;
        user-select: none;
    }

    div.sub > button:hover{
        cursor: pointer;
        color: $positive-clr;
        // text-shadow: 0 0 10px rgb(176, 116, 244);
    }

    div.card{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 5px rgba(77, 76, 76, 0.509);
        border-radius: 10px;
        background-color: white;
        padding: max(1.5vw, 15px);

        display: flex;
        flex-flow: column;
        gap: max(1vh, 10px);
        transition-duration: 100ms;
    }

    div.card > div{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: max(2vw, 20px);
    }

    div.card .stat{
        display: flex;
        flex-flow: row nowrap;
        gap: max(1vw, 10px);
        font-family: "Inter", sans-serif;
        align-items: flex-start;

        .label{
            width: 30%;
            font-family: inherit;
            font-weight: 700;
        }

        .skill-container{
            width: 70%;
            font-family: inherit;

            display: flex;
            flex-flow: column;
        }

        .skill-name{
            font-family: inherit;
            color: $positive-clr;
            // font-weight: 400;
        }

        .skill-desc{
            font-family: inherit;
        }
    

        // .inner-bar{
        //     width: 40%;
        //     height: 100%;
        //     // background-color: rgb(72, 139, 228);
        //     background-color: $positive-clr;
        //     transition-duration: 100ms;
        // }

        .bar{
            display: flex;
            flex-flow: row nowrap;
            width: 70%;
            height: 20px;
            gap: max(0.5vw, 5px);

            .inner-bar{
                height: 20px;
                width: 20%;
                // border-radius: 5px;
                background-color: rgb(235, 233, 233);
            }
            .active{
                background-color: rgb(50, 177, 60);
            }
        }
    }

    div.card .name input{
        font-size: 2rem;
    }

    div.card .avatar input{
        display: none;
    }

    input:focus{
        outline: none;
    }

    div.card > div input{
        // font-family: "Inter", sans-serif;
        width: 100%;
        padding: max(0.3vh, 3px) max(0.3vw, 5px);
        font-weight: 1000;
        text-align: center;
        font-size: 2rem;

        border: none;
    }

    div.card > div button{

        font-weight: 700;
        height: fit-content;
        padding: max(0.3vh, 3px) max(0.3vw, 5px);
        color: $black;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;

        transition-duration: 100ms;
    }

    div.card > div button:hover{
        cursor: pointer;
        color: $positive-clr;
        scale: 1.2;
    }

    div.p1 .type button{
        visibility:hidden;
    }

    div.card input{
        border-radius: 5px;
        border-color: $black;
    }

    div.card img{
        width: 150px;
        height: 200px;
        user-select: none;
    }

    @keyframes floatAnimation {
        0%{
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

    div.vs{
        font-size: 3rem;
        // animation: floatAnimation 1s infinite;
    }
    
    .appear{
        animation: appear 0.2s ease-in-out;
    }

    .hidden{
        display: none;
    }
}

section.game{
    width: 100%;
    height: 100%;

    flex: 1 1 auto;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    gap: max(2vh, 20px);


    div.btn-container{
        width: 100%;
        text-align: left;
        padding: 0 max(10vw, 50px);

        button{
            background-color: transparent;
            border: none;
            font-size: 2rem;
        }

        button:hover{
            cursor: pointer;
            color: $positive-clr;
        }
    }

    div.health-bar{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 max(10vw, 50px);
        overflow: hidden;

        .p1, .p2{
            width: 40%;
            display: flex;
            flex-flow: column;
        }

        .p1{
            align-items: flex-start; 
        }

        .p2{
            align-items: flex-end;
        }

        .outer{
            width: 100%;
            height: 20px;
            background-color: $bar-bg;

            // border-radius: 5px;
            overflow: hidden;
            display: flex;
        }

        .inner{
            width: 0%;
            height: 100%;
            transition-duration: 100ms;
            background-color: rgb(71, 211, 71);
        }

        .load-health{
            width: 100%;
            animation: loadHealth 0.5s ease-in-out;
        }

        .p1 .outer{
            flex-flow: row;
        }

        .p2 .outer{
            flex-flow: row-reverse;
        }

        img{
            width: 80px;
            height: 100px;
            user-select: none;
        }

        .name{
            font-size: 2rem;
        }

        @keyframes appear-l-to-r {
            from {
                transform: translate(-100vw, 0);
            }
            to {
                transform: translate(0, 0);
            }
        }

        @keyframes appear-r-to-l {
            from {
                transform: translate(100vw, 0);
            }
            to {
                transform: translate(0, 0);
            }
        }

        .appear-l-to-r{
            animation: appear-l-to-r 0.5s ease-in-out;
        }

        .appear-r-to-l{
            animation: appear-r-to-l 0.5s ease-in-out;
        }
    }

    div.announcer{
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        width: 60%;
        height: 40px;
        text-align: center;

        .reg-damage{
            color: orange;
        }

        .crit-damage{
            color: rgb(255, 0, 0);;
        }

        span.name{
            font-family: "Inter", sans-serif;
            color: rgb(40, 108, 217);
        }

    }

    div.gameboard{
        
        width: min(90vw, 500px);
        height: min(90vw, 500px);
    
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: max(1vw, 10px);
    
        button.cell{
            background-color: white;
            border: none;
            border-radius: 10px;
            font-size: 5rem;
            user-select: none;
            color: $marker-clr;
            box-shadow: 0 0 2px rgba(70, 70, 70, 0.51);
    
        }
    
        button.cell:hover{
            cursor: pointer;
            // background-color: red;
        }
    
        button.winning-cell{
            color: #e65e5e;
        }
    
        button.cell span{
            color: inherit;
            font-family: "Permanent Marker", cursive;
        }
    
        @keyframes marker-appear {
            from {
                scale: 0;
            }
            to {
                scale: 1;
            }
        }
        
        @keyframes scaleIn {
            from {
                scale: 1;
            }
            to {
                scale: 0;
            }
        }
        /* Apply the animation to the text */
        .marker-appear {
            display: block;
            animation: marker-appear 0.2s ease-in-out;
        }

        .scaleIn {
            display: block;
            animation: fadeOut 0.2s ease-in-out;
        }
    }

    div.fadeIn{
        animation: fadeIn 0.5s ease-in-out;
    }
}

section.intro{
    width: 100%;
    min-height: 90vh;
    // background-color: red;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: max(5vh, 40px);
    // padding: max(10vh, 70px) max(10vw, 70px);

    .upper-intro{
        display: flex;
        flex-flow: row nowrap;
        gap: max(3vw, 30px);
        font-size: 5rem;

        .player{
            scale: 0;
            font-size: inherit;
            transition-duration: 200ms;
        }

        .vs{
            scale: 0;
            font-size: inherit;
        }

        .appear{
            scale: 1;
            animation: appear 0.2s ease-in-out;
        }

        .reverse-appear{
            animation: revese-appear 0.2s ease-in-out;
        }
    }

    .lower-intro{
        .countdown{
            font-size: 10rem;
            scale: 0;
            color: $positive-clr;
        }

        .appear{
            scale: 1;
            animation: appear 0.2s ease-in-out;
        }

        .reverse-appear{
            animation: reverse-appear 0.2s ease-in-out;
        }
    }
    
}

@keyframes appear {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes reverse-appear {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadHealth {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

section.fadeOut{
    animation: fadeOut 1s ease-in-out;
    animation-iteration-count: 1;
}

section.hidden{
   display: none; 
}

section.fadeOut{
    animation: fadeOut 0.5s ease-in-out;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: max(0.5vw, 5px);
    margin-top: auto;
    font-family: "Inter", sans-serif;
    overflow: hidden;

    svg{
        transition-duration: 500ms;
    }

    svg:hover{
        transform: rotate(360deg);
    }
}

.tint{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(41, 41, 41, 0.726);
    display: none;
    justify-content: center;
    align-items: flex-start;
    font-family: "Inter", sans-serif;

    animation: fadeIn 0.5s ease-in-out;

    @keyframes modal-appear {
        from{
            transform: translate(0, 10px);
            opacity: 0;
        }

        to{
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    .modal{
        margin-top: max(20vh, 150px);
        width: max(30vw, 300px);
        height: max(20vh, 150px);
        background-color: white;
        border-radius: 10px;
        font-family: inherit;

        animation: modal-appear 0.5s ease-in-out;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: max(2vh, 20px);
    }

    div{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .winner{
        // font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        // text-shadow: 2px 2px 2px rgba(13, 117, 36, 0.442);
    }

    .won-text{
        color: rgb(9, 207, 52);
        font-weight: 700;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
    }

    button{
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        
    }

    button:hover{
        cursor: pointer;
        color: $positive-clr;
    }
}

.tint-fadeOut{
    animation: fadeOut 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {

    section.menu{

        h1{
            font-size: 3rem;
        }

        div.card .name input{
            font-size: 3rem;
        }

        div.main{
            width: 100%;
            grid-template-columns: 1fr;

            div.card{
                width: max(40%, 300px);
            }
        }

        div.vs{
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 900px) {
    section.intro {
        .upper-intro{
            flex-flow: column;
            align-items: center;
            font-size: 3rem;
        }

        .lower-intro{
            .countdown{
                font-size: 4rem;
            }
        }
    }

    section.game{
        div.gameboard{
            button.cell{
                font-size: 4rem;
            }
        }
    }
}
@media screen and (max-width: 500px) {

    section.menu{
        h1{
            font-size: 2rem;
        }

        div.main div.card input{
            font-size: 1.5rem;
        }

        div.main div.vs{
            font-size: 2rem;
        }

        div.sub button{
            font-size: 3rem;
        }

        div.card{
            gap: max(1vh, 8px);
            max-width: 280px;
        }

        div.card .stat .inner-bar{
            background-color: red;
        }

        div.card img{
            width: 100px;
            height: 150px;
        }
    }

    section.game {

        div.announcer{
            font-size: 0.8rem;
        }

        div.btn-container{
            padding: 0 max(4vw, 20px);

            button{
                font-size: 1.5rem;
            }
        }

        div.health-bar{
            padding: 0 max(4vw, 20px);

            .name{
                font-size: 1rem;
            }

            img{
                width: 70px;
                height: 110px;
            }
        }

        div.gameboard{
            button.cell{
                font-size: 3rem;
            }
        }
    }

    footer{
        flex-flow: column;
    }
    
    .tint{
        .winner{
            font-size: 1.5rem;
        }
    
        .won-text{
            font-size: 0.8rem;
        }
    
        button{
            font-size: 1.2rem;
            
        }
    }
}